html{
	height: 100%;
}

body{
	min-width: 320px;
}

.wrapper{
	overflow: hidden;
	width: 100%;
}

img{
	max-width: 100%;
	height: auto;
}

.wrapper{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: fit-content;
	max-width: 1200px;
	margin: 0 auto;
}

.title{
	padding: 20px;
}

.main{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex: 1 0 auto;

	@media (min-width: 768px) {
		flex-direction: row;
	}

	&__content{
		padding: 20px;
	} 
	.aside{
		display: flex;
		justify-content: center;
		flex-basis: $aside-width;
		flex: 0 0 $aside-width;
	}
	
	&__aside1{
		background-color: $aside1;

		@media (min-width: 768px) {
			order: -1;
		}	
	}
	
	&__aside2{
		background-color: $aside2;
	}
}

.footer{
	display: flex;
	background-color: $footer;
	flex-grow: 0;
	justify-content: center;
	flex: 0 0 auto;
}