//colors
$header: #D3B714;
$aside1: #C798B9;
$aside2: #9CB1C7;
$footer: #86EC86;
$img-border: rgba(128, 128, 128, 0.582);

//sizes
$aside-width: 210px;

//pixel-perfect
$light-grey: #FBFAF8;
$grey: #D1D1D1;
$darck-grey: #555;
$darck-brown: #362F2D;
$brown: #998675;
$color-font: #C7B299;
